<div class="container-fluid page bg-light">
 
  <table class="table table-borderless table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">
          <div class="btn-group ">
            <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Website
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              
            </div>
          </div>
        </th>
        <th scope="col">Status</th>
        <th scope="col">DataURL</th>
        <th scope="col">Subscription</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>www.website2.org</td>
        <td>Active</td>
        <td>https://www.website1.org</td>
        <td>starter</td>
        <td><button type="button" class="btn btn-outline-primary">View</button></td>
      </tr>
      <tr>
        <td>www.website3.org</td>
        <td>active</td>
        <td>https://www.website1.org</td>
        <td>@starter</td>
        <td><button type="button" class="btn btn-outline-primary">View</button></td>
      </tr>
      <tr>
        <td>www.website1.org</td>
        <td>not active</td>
        <td>https://www.website1.org</td>
        <td>@Professional</td>
        <td><button type="button" class="btn btn-outline-primary">View</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-lg-3">
    <div class="card col mb-md-1 mb-sm-1 bg-light text-dark" style="flex-direction: row;">
      <div class="col-5">
          <img src="./assets/user.PNG" alt="" class="card-img">
      </div>
      <div class="col-7">
        <div class="card-body pl-3">
          <h5 class="card-title">Book a demo with our SEO Experts</h5>
          <p class="card-text text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          <a href="" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>


    <div class="card col mb-md-1 mb-sm-1 bg-light text-dark"  style="flex-direction: row;">
      <div class="col-5">
        <img src="./assets/user.PNG" alt="" class="card-img">
      </div>
    <div class="col-7">
      <div class="card-body pl-3">
        <h5 class="card-title">Book a demo with our SEO Experts</h5>
          <p class="card-text text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          <a href="" class="btn btn-primary">Book Now</a>
      </div>
    </div>
    </div>
    

    <div class="card col mb-md-1 mb-sm-1 bg-light text-dark"  style="flex-direction: row;">
      <div class="col-5">
        <img src="./assets/user.PNG" alt=""  class="card-img">
      </div>
      <div class="col-7">
        <div class="card-body pl-3">
          <h5 class="card-title">Book a demo with our SEO Experts</h5>
          <p class="card-text text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          <a href="" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    

  </div>


  <div class="row">
    <div class="justify-content-center card col-lg-6 mb-md-2 mb-sm-2 bg-light text-dark" style="flex-direction: row;">
      <div class="col-5">
          <img src="./assets/user.PNG" alt="" class="card-img">
      </div>
      <div class="col-7">
        <div class="card-body pl-3">
          <h5 class="card-title">Book a demo with our SEO Experts</h5>
          <p class="card-text text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          <a href="" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    

    <div class="card col-lg-6 mb-md-2 mb-sm-2 bg-light text-dark"  style="flex-direction: row;">
      <div class="col-5">
        <img src="./assets/user.PNG" alt=""  class="card-img">
      </div>
      <div class="col-7">
        <div class="card-body pl-3">
          <h5 class="card-title">Book a demo with our SEO Experts</h5>
          <p class="card-text text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          <a href="" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    

  </div>
</div>
